# Homework 1

Q1. What's the version of NumPy that you installed?

In [6]:
import numpy as np

In [4]:
np.__version__

'1.20.2'

Q2. What's the version of Pandas?

In [7]:
import pandas as pd

In [6]:
pd.__version__

'1.2.4'

In [8]:
dataset = pd.read_csv('data.csv')

In [14]:
dataset.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Q3. What's the average price of BMW cars in the dataset?

In [8]:
dataset[dataset['Make']=='BMW'].MSRP.mean()

61546.76347305389

Q4. Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [12]:
dataset[dataset['Year']>= 2015]['Engine HP'].isnull().sum()

51

Q5. Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?
Round both means before answering this questions. You can use the round function for that:

In [36]:
mean_hp_before = dataset['Engine HP'].mean()
mean_hp_before

249.38607007176023

In [37]:
mean_hp_after = dataset['Engine HP']. fillna(mean_hp_before).mean()
mean_hp_after

249.38607007176

In [19]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

Q6. Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?
Hint: if the result is negative, re-read the task one more time

In [17]:
rr_df = dataset[dataset['Make'] == 'Rolls-Royce']

In [18]:
rr_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
2921,Rolls-Royce,Corniche,2001,premium unleaded (required),325.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury",Large,Convertible,15,10,86,359990
3505,Rolls-Royce,Dawn,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Large,Convertible,19,12,86,335000
5275,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,286750
5276,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,319400
5277,Rolls-Royce,Ghost Series II,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,295850

In [19]:
rr_dfcut = rr_df[['Engine HP', 'Engine Cylinders', 'highway MPG']]

In [20]:
rr_dfcut.head()

      Engine HP  Engine Cylinders  highway MPG
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [22]:
rr_dfcut.drop_duplicates()

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [25]:
X = rr_dfcut.to_numpy()

In [27]:
Z = X.T @ X

In [29]:
np.linalg.inv(Z).sum()

0.032212320677486125

Q7. Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?.

In [38]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [39]:
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])

In [43]:
W1 = np.linalg.inv(Z) @X.T

In [44]:
W = W1 @ y

In [45]:
W

array([ 0.19989598, 31.02612262, 31.65378877])